@use 'src/grid-templates';

*
{
	margin: 0;
	padding: 0;
	font-size: 30px;
}


.grid-container
{
	display: grid;

	grid-template-columns: .25fr repeat(11, 1fr);

	grid-template-rows: 100px 87vh 100px auto 200px;

	gap: 5px;

	grid-template-areas:
		grid-templates.$desktop;
}

.nav-cell 
{
	grid-area: nav;


	border-radius: .5rem;

	background-color: blue;
}

.hero-cell
{
	grid-area: hero;


	border-radius: .5rem;

	background-color: cornflowerblue;
}

.left-side-cell
{
	grid-area: lcell;


	border-radius: .5rem;

	background-color: blueviolet;
}

.main-content-cell
{
	grid-area: content;


	padding: .5rem;
	border-radius: .5rem;

	background-color: brown;
}

.right-side-cell
{
	grid-area: rcell;


	border-radius: .5rem;

	background-color: chocolate;
}

.footer-cell
{
	grid-area: footer;


	border-radius: .5rem;

	background-color: darkgreen;
}